@import "variables";

/*
Заголовки в стиле ФАКИ


.faki-header      - Универсальный заголовок
h1.faki-header    - Заголовок для h1

Styleguide 1.1
*/

/*
Универсальный заголовок

markup:
<span class="faki-header">FAKI header</span>

Styleguide 1.1.1
*/
.faki-header {
  font: normal 16px/22px Tahoma, sans-serif;
  color: $header_color;
  font-weight: bold;
}

/*
Заголовок h1 в стирле ФАКИ

markup:
<h1 class="faki-header">h1 FAKI-header</h1>

Styleguide 1.1.2
*/
h1.faki-header {
  font-size: 36px;
}

/*
Заголовок h2 в стирле ФАКИ

markup:
<h2 class="faki-header">h2 FAKI-header</h2>

Styleguide 1.1.3
*/
h2.faki-header {
  font-size: 30px;
}

/*
Заголовок h3 в стирле ФАКИ

markup:
<h3 class="faki-header">h3 FAKI-header</h3>

Styleguide 1.1.4
*/
h3.faki-header {
  font-size: 24px;
}

/*
Заголовок h4 в стирле ФАКИ

markup:
<h4 class="faki-header">h4 FAKI-header</h4>

Styleguide 1.1.5
*/
h4.faki-header {
  font-size: 18px;
}

/*
Заголовок h5 в стирле ФАКИ

markup:
<h5 class="faki-header">h5 FAKI-header</h5>

Styleguide 1.1.6
*/
h5.faki-header {
  font-size: 14px;
}

/*
Заголовок h6 в стирле ФАКИ

markup:
<h6 class="faki-header">h6 FAKI-header</h6>

Styleguide 1.1.7
*/
h6.faki-header {
  font-size: 12px;
}
