@import "mixins/transition";

div.faki-mitem .sb-headlink, .faki-tabs-caption li a {
    display: inherit;
    width: 100%;
    padding: 8px;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: inherit;
    font: normal 15px/20px sans-serif;
}

div.faki-mitem p, .faki-tabs-caption li p {
    display: inherit;
    width: 100%;
    vertical-align: text-bottom;
    box-sizing: inherit;
    color: black;
    font: normal 12px/22px sans-serif;
}

.faki-mitem {
    @include transition(0.2s all ease);
    margin: 5px 0;
    display: table;
    padding: 0px 0px 0px 68px;
    text-align: left;
    cursor: pointer;
    opacity: 0.9;
    box-sizing: inherit;
    min-height: 64px;
    border: 3px solid white;
}

.faki-mitem:hover, .faki-tabs-caption li:hover, .faki-tabs-block .faki-tabs-caption li:hover {
    opacity: 1;
    border: 3px solid #f0f0f0;
}

$items_map: (
  (rocket "./images/rocket-logo_48x48.png"),
  (faki "./images/faki-logo_48x48.png"),
  (ball "./images/ball-logo_48x48.png"),
  (book "./images/book-logo_48x48.png"),
  (house "./images/house-logo_48x48.png"),
  (hat "./images/hat-logo_48x48.png"),
  (menu "./images/menu-logo_48x48.png"),
  (rub "./images/rub-logo_48x48.png"),
  (stack "./images/stack-logo_48x48.png")
);

@each $name, $image_url in $items_map {
  .faki-mitem.m#{$name} {
    background: url(#{$base_img_url + $image_url}) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
  }
}

.faki-mitem.mmenuwhite {
    background: url(./images/menu-logo-white_48x48.png) no-repeat 5px 5px
}

.faki-mitem.mlist {
    background: url(./images/list-logo_48x48.png) no-repeat 5px 5px
}


.faki-mitem img.mimg {
    background: linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px);
    width: 58px;
    height: 58px;
    margin: 0 0 0 -68px !important;
    float: left;
}

.faki-mitem img.mwimg {
    background: linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #FFFFFF 58px, transparent 58px);
    width: 58px;
    height: 58px;
    margin: 0 0 0 -68px !important;
    float: left;
}
