//DONE
<div>#topmenu {
    border-bottom: 1px solid #000066;
}

//DONE
//UNUSED
#topnav li.act {
    border-left: 1px solid #000066;
    border-top: 1px solid #000066;
    border-right: 1px solid #000066;
}

//DONE
.navblock {
    border-top: 1px solid #000066;
    border-bottom: 1px solid #000066;
}

//DONE
#footer {
    border-top: 3px solid #000066;
}

//DONE
#news-head {
    border-bottom: 3px solid #000066;
}

//UNUSED
#cal-title {
    border-bottom: 3px solid #000066;
}

//UNUSED
#quote-title {
    border-bottom: 3px solid #000066;
}

//UNUSED
#cont-title {
    border-bottom: 3px solid #000066;
}

//UNUSED
#all-news-head {
    border-bottom: 3px solid #000066;
}

//DONE
a {
    color: #000066
}

//DONE
.news-title {
    color: #000066;
}

//DONE
#mainblock h1 {
    border-bottom: 3px solid #000066
}

//DONE
#news-archive {
    color: #000066;
}

//DONE
#news-archive a {
    color: #000066;
}

//UNUSED
table.cal-table td.act a.cal-news-title {
    color: #000066;
}

//DONE
//UNUSED
#leftmenu a.act {
    border: 3px solid #000066;
}

//DONE
#leftmenu a:hover {
    border: 3px solid #000066;
    border-width: 0px 3px;
}

//UNUSED
#leftmenu .leftsubmenu li.subact a {
    color: #000066;
}

//UNUSED
#leftmenu .leftsubmenu li.subact {
    border: 3px solid #000066;
}

//UNUSED
#leftmenu .leftsubmenu li:hover {
    border: 3px solid #000066;
}

//UNUSED
#filterblock a.act {
    border: 3px solid #000066;
}

//UNUSED
#filterblock a:hover {
    border: 3px solid #000066;
}

//UNUSED
.event-title {
    color: #000066;
}

#mainblock h1 {
    border-bottom: 3px solid #000066;
}

//UNUSED
#vg-desc {
    border-left: 3px solid #000066;
}

div.head_dasr {
    background: url(images/head.jpg) no-repeat center top;
}

//UNUSED
#top-lang a.act {
    background: url(images/langselect.png) no-repeat right center !important;
    color: #ffffff;
}

//UNUSED
div.bx_logged_in input.top_logout {
    background: url(images/ico-auth.png) no-repeat left center !important;
    color: #000066 !important;
}

//UNUSED
a.top_auth {
    background: url(images/ico-auth.png) no-repeat left center !important;
    color: #000066 !important;
}

//DONE
#leftmenu .root-item-selected, #leftmenu .item-selected {
    border-left: #000066 3px solid !important;
    border-right: #000066 3px solid !important;
}

//UNUSED
#gotop {
    background: url(images/button_to.png) !important;
}

//UNUSED
div.ajax_on {
    background: url(images/button_ajax_2.png) !important;
}

//UNUSED
div.ajax_off {
    background: url(images/button_ajax_1.png) !important;
}

//DONE
#banner h2 {
    float: left;
    font: normal 18px/30px Tahoma;
    color: #252525;
    margin-bottom: 20px;
    border-bottom: 3px solid #000066;
    padding-top: 20px;
    width: 100%;
}

//DONE
#banner h2 a {
    text-decoration: none;
}

//UNUSED
#top-sitemap {
    background: url(images/ico-sitemap.png) no-repeat right center !important;
}

.news-pic img {
    width: 100px !important;
}

.news-pic a {
    width: 100px !important;
}

.news-pic {
    float: left;
    width: 100px !important;
    margin: 4px 20px 0px 0px;
}

.news-text {
    float: left;
    width: 614px;
}

//UNUSED
div.bx_system_auth_form {
    font-size: 14px;
    display: block;
    z-index: 10;
    position: absolute;
    top: 14px;
    right: 240px;
    color: white;
    padding: 2px 10px;
    background-color: #4ba8de;
    background: -moz-linear-gradient(top, #aaa, #ccc);
    background: -webkit-gradient(top, #aaa, #ccc);
    background: -webkit-linear-gradient(top, #aaa, #ccc);
    background: -o-linear-gradient(top, #aaa, #ccc);
    background: -ms-linear-gradient(top, #aaa, #ccc);
    background: linear-gradient(top, #aaa, #ccc);
}

//UNUSED
div.bx_system_auth_form input.input_submit {
    color: #267326 !important;
}

//UNUSED
div.bx_system_auth_form input.input_submit:hover {
    color: #39ac39 !important;
}

li.current a {
    border-left-color: #000066 !important;
    border-right-color: #000066 !important;
}

//DONE
.faki-block {
    float: left;
    margin-bottom: 10px;
}

//DONE
.faki-link {
    float: left;
    clear: left;
    font: normal 16px/22px Tahoma;
    color: #000066;
    text-decoration: underline;
    margin-bottom: 6px;
    padding-left: 30px;
    background-image: url('/design/images/faki_dl');
    background-repeat: no-repeat;
    background-position: left;
}

//DONE
.faki-link:hover {
    text-decoration: none;
}

//DONE
.faki-block p {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

//DONE
.faki-block ul {
    display: inline-block;
}

//DONE
.faki-header, h2.faki-header {
    font: normal 16px/22px Tahoma;
    color: #000066;
    padding-bottom: 6px;
    font-weight: bold
}

//DONE
h4.faki-header {
    font: normal 14px/16px Tahoma;
    color: #000066;
    padding-bottom: 6px;
    font-weight: bold
}

.faki-img {
    box-shadow: 2px 2px 3px #999999;
    -moz-box-shadow: 2px 2px 3px #999999;
    -webkit-box-shadow: #999 2px 2px 3px;
}

//DONE
.faki-section {
    margin: 10px;
    padding: 15px 20px 15px 20px;
    border: 3px solid #173F87;
    border-radius: 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 3px #999999;
    -moz-box-shadow: 2px 2px 3px #999999;
    -webkit-box-shadow: #999 2px 2px 3px;
    background-position: 20px 50%;
    background-repeat: no-repeat;
    position: relative;
    text-align: justify;
    background-color: #ffffff;
    display: inline-block;
}

//DONE
.faki_blue_button_sp {
    display: inline-block;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: inherit;
    margin: 2px;
    min-width: 120px;
    text-align: center;
    font-family: arial;
    width: auto;
    color: #FFFFff;
    text-decoration: none;
    /* Oae?aai iia?a?eeaaiea nnueee */
    background: #0454a8;
    /* Oaao oiia eiiiee ii oiie?aie? */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#173F87', endColorstr='#0454a8');
    /* A?aaeaio eiiiee */
    background: -webkit-gradient(linear, left top, left bottom, from(#173F87), to(#0454a8));
    /* A?aaeaio eiiiee */
    background: -moz-linear-gradient(top, #173F87, #0454a8);
    /* A?aaeaio eiiiee */
    background: gradient(linear, top, #173F87, #0454a8);
    /* A?aaeaio eiiiee */
    border-radius: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    khtml-border-radius: 4px
}

//DONE
.faki_blue_button_sp a {
    color: #FFFFff;
    text-decoration: none;
}

//DONE
.faki_blue_button_sp a:hover {
    text-decoration: none;
}

//DONE
.faki_green_button_sp {
    display: inline-block;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 2px;
    min-width: 120px;
    text-align: center;
    font-family: arial;
    width: auto;
    color: #FFFFff;
    text-decoration: none;
    /* Oae?aai iia?a?eeaaiea nnueee */
    background: #339933;
    /* Oaao oiia eiiiee ii oiie?aie? */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#006600', endColorstr='#339933');
    /* A?aaeaio eiiiee */
    background: -webkit-gradient(linear, left top, left bottom, from(#006600), to(#339933));
    /* A?aaeaio eiiiee */
    background: -moz-linear-gradient(top, #006600, #339933);
    /* A?aaeaio eiiiee */
    background: gradient(linear, top, #006600, #339933);
    /* A?aaeaio eiiiee */
    border: 1px solid #339933;
    /* Iaaiaea eiiiee */
    border-radius: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    khtml-border-radius: 4px
}

//DONE
.faki_green_button_sp a {
    color: #FFFFff;
    text-decoration: none;
}

//DONE
.faki_green_button_sp a:hover {
    text-decoration: none;
}

//DONE
.sect-block {
    padding-bottom: 1px;
    font-weight: normal;
    margin: 0.2cm;
}

//DONE
.faki-sect-block {
    padding-bottom: 1px;
    font-weight: normal;
    margin: 0.2cm;
    width: 47%;
    display: inline-block;
    vertical-align: top;
}

//DONE
.faki_blue_button_sp_modern {
    -moz-box-shadow: inset -1px 0px 0px 0px #97c4fe;
    -webkit-box-shadow: inset -1px 0px 0px 0px #97c4fe;
    box-shadow: inset -1px 0px 0px 0px #97c4fe;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #072659));
    background: -moz-linear-gradient( center top, #3d94f6 5%, #072659 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#072659');
    background-color: #3d94f6;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: -2px;
    border: 1px solid #337fed;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    height: 33px;
    line-height: 33px;
    width: auto;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

//DONE
.faki_blue_button_sp_modern:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #072659), color-stop(1, #3d94f6));
    background: -moz-linear-gradient( center top, #072659 5%, #3d94f6 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#072659', endColorstr='#3d94f6');
    background-color: #072659;
    text-decoration: none;
}

//DONE
.faki_blue_button_sp_modern:active {
    position: relative;
    top: 1px;
}

//DONE
.faki_green_button_sp_modern {
    -moz-box-shadow: inset -1px 0px 0px 0px #c1ed9c;
    -webkit-box-shadow: inset -1px 0px 0px 0px #c1ed9c;
    box-shadow: inset -1px 0px 0px 0px #c1ed9c;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5ae00d), color-stop(1, #175203));
    background: -moz-linear-gradient( center top, #5ae00d 5%, #175203 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5ae00d', endColorstr='#175203');
    background-color: #5ae00d;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-left-radius: 8px;
    text-indent: -2px;
    border: 1px solid #83c41a;
    display: inline-block;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    height: 33px;
    line-height: 33px;
    width: 200px;
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

//DONE
.faki_green_button_sp_modern:hover {
    text-decoration: none;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #175203), color-stop(1, #5ae00d));
    background: -moz-linear-gradient( center top, #175203 5%, #5ae00d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#175203', endColorstr='#5ae00d');
    background-color: #175203;
}

//DONE
.faki_green_button_sp_modern:active {
    position: relative;
    top: 1px;
}

//DONE
div.faki-msection {
    display: inline-block;
    box-sizing: border-box;
    margin: 5px 0 0 0;
}

//DONE
.faki-col1 div, .faki-col1 li {
    width: 100%;
}

//DONE
.faki-col2 div, .faki-col2 li {
    width: 50%;
    float: left;
}

//DONE
.faki-col3 {
    width: 99%;
}

//DONE
.faki-col3 div, .faki-col3 li {
    width: 33%;
    float: left;
}

//DONE
.faki-mbutton {
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
}

//DONE
.faki-mbutton {
    display: table;
    padding: 7px 15px 8px 15px;
    border: 2px;
    font-family: &amp;
    quot;
    Tahoma&amp;
    quot;
    ;
    font-size: 22px;
    text-align: left;
    /* font-weight: bold; */
    cursor: pointer;
    opacity: 0.9;
}

//DONE
.faki-mbutton:hover {
    opacity: 1;
}

//DONE
.faki-mbleft:hover {
    border-left: solid 2px #2e2f9b;
}

//DONE
.faki-mbutton:active {
    color: white !important;
    background-color: #191919 !important;
}

//DONE
.faki-mbutton.micon {
    padding-left: 68px !important;
}

//DONE
.faki-mbutton.mibox {
    background: url(./images/box-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.miad {
    background: url(./images/ad-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.miprinter {
    background: url(./images/printer-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.milike {
    background: url(./images/like-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.miletter {
    background: url(./images/letter-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.miwatch {
    background: url(./images/watch-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.mitheatre {
    background: url(./images/theatre-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.mivk {
    background: url(./images/vk-48.png) no-repeat 10px center;
}

//DONE
.faki-mbutton.mcblue {
    background-color: #2e2f9b;
    color: white;
}

//DONE
.faki-mbutton.mcwhite {
    background-color: #ffffff;
    color: #2e2f9b;
}

//DONE
.faki-mbutton.mclblue {
    background-color: #2d87ef;
    color: white;
}

//DONE
.faki-mbutton.mcred {
    background-color: #d9522c;
    color: white;
}

//DONE
.faki-mbutton.mcpink {
    background-color: #ae193e;
    color: white;
}

//DONE
div.faki-msection a {
    display: table;
    width: 100%;
    padding: 20px;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: inherit;
}

//DONE
div.faki-mitem .sb-headlink, .faki-tabs-caption li a {
    display: inherit;
    width: 100%;
    padding: 8px;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: inherit;
    font: normal 15px/20px sans-serif;
}

//DONE
div.faki-mitem p, .faki-tabs-caption li p {
    display: inherit;
    width: 100%;
    vertical-align: text-bottom;
    box-sizing: inherit;
    color: black;
    font: normal 12px/22px sans-serif;
}

//DONE
.faki-mitem {
    transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    -ms-transition: 0.2s all ease;
}

//DONE
.faki-mitem {
    margin: 5px 0;
    display: table;
    padding: 0px 0px 0px 68px;
    text-align: left;
    cursor: pointer;
    opacity: 0.9;
    box-sizing: inherit;
    min-height: 64px;
    border: 3px solid white;
}

//DONE
.faki-mitem:hover, .faki-tabs-caption li:hover, .faki-tabs-block .faki-tabs-caption li:hover {
    opacity: 1;
    border: 3px solid #f0f0f0;
}

//DONE
.faki-mitem.mrocket {
    background: url(./images/rocket-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mfaki {
    background: url(./images/faki-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mball {
    background: url(./images/ball-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mbook {
    background: url(./images/book-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mhouse {
    background: url(./images/house-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mhat {
    background: url(./images/hat-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mmenu {
    background: url(./images/menu-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mrub {
    background: url(./images/rub-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mstack {
    background: url(./images/stack-logo_48x48.png) no-repeat 5px 5px, linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px)
}

//DONE
.faki-mitem.mmenuwhite {
    background: url(./images/menu-logo-white_48x48.png) no-repeat 5px 5px
}

//DONE
.faki-mitem.mlist {
    background: url(./images/list-logo_48x48.png) no-repeat 5px 5px
}

//DONE
.faki-tabs-caption {
    line-height: 25px;
    list-style: none;
}

//DONE
.faki-tabs-caption li {
    float: left;
    display: block;
    padding: 5px;
    cursor: pointer;
    border: 3px solid white;
    position: relative;
    margin-left: 0px !important;
    box-sizing: border-box;
}

//DONE
.faki-tabs-caption .active {
    color: #444;
    border: 3px solid #2E2F9A !important;
}

//DONE
.faki-tabs-content {
    display: none;
    padding: 5px 5px 5px 0;
    width: 100%;
    text-align: center;
}

//DONE
.faki-tabs-content .active {
    display: table;
}

//DONE
.faki-tabs-block {
    width: 100%;
    padding: 5px 5px 5px 0;
    display: table;
}

//DONE
.faki-tabs-block .faki-tabs-caption {
    display: table;
    border-left: 0px solid #FFF;
}

//DONE
.faki-youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
}

//DONE
.faki-youtube .play {
    background: url(&amp;quot;http://mipt.ru/dasr/css/images/youtube-play.png&amp;quot;) no-repeat center center;
    background-size: 91px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

//DONE
.faki-youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}


/*webdebug:safe2pdf.controls*/
//UNUSED
#page-export-controls-pdf {
    background: url(&amp;quot;images/pdf.png&amp;quot;);
}

//UNUSED
#page-export-controls-doc {
    background: url(&amp;quot;images/doc.png&amp;quot;);
}

//UNUSED
#page-export-controls-print {
    background: url(&amp;quot;images/print.png&amp;quot;);
}


/*bitrix:system.auth.form*/
//UNUSED
a.top_reg {
    background: url(images/key.png) no-repeat left center !important;
    color: #000066 !important;
}


/*#top-lang*/

#top-lang a[href=&amp;
quot;
/servertree&amp;
quot;
], #top-lang a[href=&amp;
quot;
/en/servertree&amp;
quot;
] {
    width: 75px;
    padding-right: 11px;
    background: url('/dasr/css/images/map.png') no-repeat right center
}

//DONE
.faki-mitem img.mimg {
    background: linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #2E2F9A 58px, transparent 58px);
    width: 58px;
    height: 58px;
    margin: 0 0 0 -68px !important;
    float: left;
}

//DONE
.faki-mitem img.mwimg {
    background: linear-gradient(to bottom, transparent 58px, white 58px), linear-gradient(to right, #FFFFFF 58px, transparent 58px);
    width: 58px;
    height: 58px;
    margin: 0 0 0 -68px !important;
    float: left;
}

</div>
