@import "variables";

@import "typography";

/*
  Стиль главного меню сайта МФТИ.
  Перекраска границ под цвет факультета.
*/
#topmenu {
    //не знаю, кто из верстаков сайта МФТИ убрал полосу и отступы в стилях html файла.
    border-bottom: 1px solid $primary_color !important;
    margin-bottom: 30px !important;

    li.act {
        border-left: 1px solid $primary_color;
        border-top: 1px solid $primary_color;
        border-right: 1px solid $primary_color;
    }
}

//выпадающиее меню для меню под шапкой
.navblock {
    border-top: 1px solid $primary_color;
    border-bottom: 1px solid $primary_color;
}

#mainblock h1 {
    border-bottom: 3px solid $primary_color;
}

#footer {
    border-top: 3px solid $primary_color;
}

/*
  End стиль меню.
*/


/* Блок новостей */

// Заголовок ленты новостей в корне сайта
#news-head {
    border-bottom: 3px solid $primary_color;
}

.news-title {
    color: $primary_color;
}


// Нижняя панель с надписью Все новости
#news-archive {
    color: $primary_color;
}

#news-archive a {
    color: $primary_color;
}

/* Конец блока новостей */

/* Left sidebar */
/* Левое меню */
#leftmenu a.act {
    border: 3px solid $primary_color;
}

#leftmenu a:hover {
    border: 3px solid $primary_color;
    border-width: 0px 3px;
}
