@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// FAKI COLORS
$faki-color-light: #0072BB;
$faki-color-dark: #2D358E;
$faki-color-old: #000066;

$header_color: #0072BB;

$primary_color: #0072BB;

$leftmenu_element_color: $faki-color-old;

$link_color: $faki-color-dark;

$h1_font_size: 24px;//36px;
$h2_font_size: 18px;//30px;
$h3_font_size: 16px;//24px;
$h4_font_size: 14px;//18px;
$h5_font_size: 12px;//14px;
$h6_font_size: 12px;

$max_num_columns: 4;

$base_img_url: "https://mipt.ru/dasr/css/";

$image_path: "../images/";


$faki_mitem_image_width: 58px;
$faki_mitem_image_height: 58px;
$faki_mitem_image_margin: 10px;
